


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> Http Exepcions</h2>

@*<p>Controller Name: @Model.ControllerName</p>
<p>Action Name: @Model.ActionName</p>
<p>Exception: @Model.Exception</p>*@